<section id="home">
<div class="home d-flex">
  <div class="col-6">
    <div class="text-container">
      <h1 class="text-white">{{this.homeContent?.title}} <span>Desouky</span></h1>
      <h3 class="text-white text-animation">I'm a <span></span> </h3>
      <p class="text-white">{{this.homeContent?.description}}</p>
    </div>
    <div class="social-icons">
      <a [href]="this.homeContent?.linkdin" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a [href]="this.homeContent?.github" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a [href]="this.homeContent?.instagram" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a [href]="homeContent?.facebook" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="btns">
      <a [href]="'http://localhost:3000/files/'+homeContent?.cv" download>
        <button class="btn1">Download CV</button>
      </a>
    </div>
  </div>

  <div class="col-5 img">
    <img [src]="'http://localhost:3000/images/'+homeContent?.profileImg" [alt]="homeContent?.logo">
  </div>
</div>
</section>
