<h1 class="mt-3">Comments</h1>
<div class="dashboard-grid">
  <div class="card from-left" *ngFor="let msg of messagesList">
    <div class="card-header">
      <h3>{{ msg.name }}</h3>
      <small>{{ msg.email }}</small>
    </div>

    <div class="stat-item primary">
      <div class="stat-label">
        {{ msg.msg }}
      </div>
    </div>

    <div class="card-actions">
      <button class="btn btn-edit">
        <i class="fa-solid fa-reply"></i> Reply
      </button>
      <button (click)="deleteMessage(msg._id)" class="btn btn-delete">
        <i class="fa-solid fa-trash"></i> Delete
      </button>
    </div>
  </div>
</div>
