<aside class="sidebar">
    <div class="sidebar-logo">
      <h2>Admin Dashboard</h2>
    </div>

    <nav class="sidebar-nav">
      <ul class="nav-menu">
        <li *ngFor="let item of menuItems"
            class="nav-item"
            [class.active]="item.active"
            (click)="onMenuClick(item)" [routerLink]="item.route">
          <span class="material-icons">{{item.icon}}</span>
          <span class="nav-text">{{item.name}}</span>
        </li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <div class="settings-item">
        <span class="material-icons">settings</span>
        <span>Setting</span>
      </div>
    </div>
  </aside>
