<section class="contact-section" id="contact">
  <div class="contact-inner">
    <div class="contact-form">
      <h2 class="title">Contact Me</h2>
      <p class="subtitle">Got a project or question? Let's talk.</p>

      <form (ngSubmit)="onSubmit()" [formGroup]="myForm" novalidate>
        <label>
         <input formControlName="name" [ngClass]="{'error-border': (f['name'].invalid && (f['name'].touched || isSubmitted))}" placeholder="Name"/>

          <div *ngIf="(f['name'].invalid && f['name'].touched) || (f['name'].invalid && isSubmitted)">
              <span class="error-message" *ngIf="f['name'].errors?.['required']">Name is required</span>
            </div>
        </label>

        <label>
          <input name="email" formControlName="email" placeholder="Email" [ngClass]="{'error-border': (f['email'].invalid && f['email'].touched)|| (f['email'].invalid && isSubmitted)}"/>
          <div *ngIf="(f['email']?.invalid && f['email']?.touched) || (f['email']?.invalid && isSubmitted)">
              <span class="error-message" *ngIf="f['email']?.errors?.['required']">Email is required</span>
              <span class="error-message" *ngIf="f['email']?.errors?.['pattern']">Invalid Email</span>
            </div>
        </label>

        <label>
          <textarea name="message" formControlName="msg" rows="5" placeholder="Message" [ngClass]="{'error-border': (f['msg'].invalid && f['msg'].touched)|| (f['msg'].invalid && isSubmitted)}"></textarea>

          <div *ngIf="(f['msg']?.invalid && f['msg']?.touched) || (f['msg']?.invalid && isSubmitted)">
              <span class="error-message" *ngIf="f['msg']?.errors?.['required']">Message is required</span>

            </div>
        </label>

        <div class="actions">
          <button class="btn btn-primary"> Send</button>
        </div>
      </form>
    </div>

    <div class="contact-3d">
      <canvas #threeCanvas></canvas>
    </div>
  </div>
</section>
