<div class="dashboard-grid">
  <div class="card from-left overall-info" appTilt routerLink="/dashboard/skills-dashboard/addSkill">
    <div class="card-header">
      <h3>Skills</h3>
    </div>
    <div class="stat-item primary">
      <div class="stat-label">Add Skill</div>
      <div class="stat-number"><i class="fa-solid fa-plus"></i></div>
    </div>
  </div>

  <div class="card from-right overall-info" appTilt routerLink="/dashboard/skills-dashboard/updateSkill">
    <div class="card-header">
      <h3>Skills</h3>
    </div>
    <div class="stat-item primary">
      <div class="stat-label">Edit Skill</div>
      <div class="stat-number"><i class="fa-solid fa-pen-to-square"></i></div>
    </div>
  </div>
</div>


