
.logo{
color: #00ffee;
  text-shadow: 0 0 40px #00ffee;
}
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 11111111;
  background: rgba(23, 44, 44, 0.25);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
}

.nav-link {
  color: white;
  position: relative;
  text-decoration: none;
}

.nav-link span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #00ffee;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover{
  color: #00ffee;
}
.nav-link:hover span {
  width: 100%;
}
.active1 {
  color: #00ffee;
  position: relative;
}
.active1 span {
  width: 100% !important;
  background-color: #00ffee;
}
