<nav class="navbar navbar-expand-lg bg" aria-label="Primary navigation">
  <div class="container">
    <a class="navbar-brand text-white fs-3" href="#home" aria-label="Seif Desouky home">Seif <span class="logo">Desouky</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto ">
        <a class="nav-link me-3" href="#home" aria-label="Navigate to home section">Home<span></span></a>
        <a class="nav-link me-3" href="#education" aria-label="Navigate to education section">Education<span></span></a>
        <a class="nav-link me-3" href="#skills" aria-label="Navigate to skills section">Skills<span></span></a>
        <a class="nav-link me-3" href="#service" aria-label="Navigate to services section">Services<span></span></a>
        <a class="nav-link me-3" href="#projects" aria-label="Navigate to projects section">Projects<span></span></a>
        <a class="nav-link me-3" href="#contact" aria-label="Navigate to contact section">Contact<span></span></a>
      </div>
    </div>
  </div>
</nav>
